*{
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
}

.menu, .footer{
    height: 10vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.footer{
    background-color: #060606;
    color: #eeeeee;
}

.menu{
    background-color: #1fb622;
    color: #eeeeee;
}

body{
    margin: 0px;
}

.content{
    min-height: 80vh;
}

.button, input[type="submit"]{
    color: white;
    background-color: #1fb622;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.5);
    font-size: 1.2em;
    white-space: nowrap;
    transition: 0.3s;
}

.button:hover, input[type="submit"]:hover{
    transform: scale(1.2);
}

h1, h2{
    margin-bottom: 0px;
    text-align: center;
    text-transform: uppercase;
    padding: 0 10px;
    border-bottom: 2px solid #1fb622;
    width: fit-content;
}