{% extends 'base.html' %}

{% load static %}

{% block title %}О клинике{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/about.css' %}">{% endblock styles %}

{% block content %}

<div class="info">
    <h1>О клинике</h1>
    <p class="slide-in" id="p1">Стоматология "Улыбка" - это место, где вы можете получить профессиональную помощь в области стоматологии. Мы предлагаем широкий спектр услуг, включая лечение кариеса, протезирование, отбеливание зубов, лечение десен и многое другое.</p>
    <p class="slide-in" id="p2">Наша команда состоит из опытных и квалифицированных стоматологов, которые всегда готовы помочь вам решить любые проблемы с зубами и деснами. Мы используем только современное оборудование и материалы, чтобы обеспечить высокое качество лечения.</p>
    <p class="slide-in" id="p3">Мы также уделяем большое внимание комфорту наших пациентов. В нашей клинике вы найдете уютную атмосферу, приятный интерьер и вежливых сотрудников. Мы стремимся создать комфортную и дружелюбную обстановку, чтобы вы чувствовали себя уверенно и спокойно во время лечения.</p>
    <p class="slide-in" id="p4">Если у вас есть какие-либо вопросы или проблемы со здоровьем зубов, не стесняйтесь обращаться к нам. Мы всегда готовы ответить на ваши вопросы и помочь вам выбрать наиболее подходящий вариант лечения. Приходите к нам в "Улыбку", и мы гарантируем, что вы останетесь довольны результатом нашей работы!</p>
    <a class="button slide-in" id="p5" href="zapis">Записаться</a>
</div>



{% endblock content %}