{% extends 'base.html' %}

{% load static %}

{% block title %}Авторизация{% endblock title %}

{% block styles %}<link rel="stylesheet" href="{% static 'css/form.css' %}">{% endblock styles %}
{% block content %}
<h1>Авторизация</h1>



<form method="post" action="">
    {% csrf_token %}
    <div class="container">
        {% for field in form %}
        <div class="field">
            {{field.label_tag}} {{field}}
        </div>
        {% endfor %}
        <ul class="errorlist">
        {% for message in messages %}
            <li>{{ message }}</li>
        {% endfor %}
        </ul>
        <input type="submit" value="Войти">
    </div>
</form>
{% endblock content %}
