<div class="footer">
    <div class="phone">
        <div class="phone-icon"><a href="tel:89855439876"><i class="fa-solid fa-phone"></i></a></div>
        <div class="phone-number">
            <a href="tel:89855439876">8(985)543-98-76</a>
        </div>
    </div>
    <div class="footer-pages">
        <div class="footer-page"><a href="about">О клинике</a></div>
        <div class="footer-page"><a href="doctors">Врачи</a></div>
        <div class="footer-page"><a href="law">Правовая информация</a></div>
        <div class="footer-page"><a href="requisites">Реквизиты</a></div>
        <div class="footer-page"><a href="contacts">Контакты</a></div>
    </div>
    <div class="footer-info">
        Все права защищены<br>
        ©Улыбка 2023
    </div>
</div>