{% load static %}
<div class="icon">
    <a href="/">
        <img src="{% static 'res/logo.png' %}" alt="Улыбка">
    </a>
    <div class="phone">
        <div class="phone-icon"><a href="tel:89855439876"><i class="fa-solid fa-phone"></i></a></div>
        <div class="phone-number">
            <a href="tel:89855439876">8(985)543-98-76</a>
        </div>
        
    </div>
</div>

<div class="pages">
    <div class="page"><a href="about">О клинике</a></div>
    <div class="page"><a href="doctors">Врачи</a></div>
    <div class="page"><a href="law">Правовая информация</a></div>
    <div class="page"><a href="requisites">Реквизиты</a></div>
    <div class="page"><a href="contacts">Контакты</a></div>
</div>

<div class="panel">
    <div class="panel-btn">
        <a href="">
            <i class="fa-solid fa-right-to-bracket"></i>
            Личный кабинет
        </a>
    </div>
    <div class="panel-btn">
        <a href="">
            <i class="fa-solid fa-user-plus"></i>
            Регистрация
        </a>
    </div>
</div>